@font-face {
  font-family: "Eczar";
  font-style: normal;
  font-weight: 400 800;
  src: url("../fonts/Eczar-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url("../fonts/QuattrocentoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url("../fonts/QuattrocentoSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url("../fonts/QuattrocentoSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url("../fonts/QuattrocentoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}